*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}

.navItem {
    border: 1px solid black;
    padding: 5px 5px; 
}

.slider {
    display: block;
}

#headerNavigation {
    display: flex;
    justify-content: space-between;
    background-color: azure;
}

#navigation {
    display: flex;
    padding: 15px;
}

#headerTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.subheaderTitle {
    color: grey;
    margin-top: 25px;
}

#CallUs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 30px;
}

#article {
    flex-basis: 45%;
    flex-grow: 0;
    margin-left: 32px;
}

#article img {
    max-width: 100%;
    max-height: 100%;
}

#form {
    background-color: rgb(230, 227, 227);
    flex-basis: 30%;
    flex-grow: 0;
    border-radius: 6px;
    padding: 50px 75px;
}

.titleCallUs1 {
    margin: 20px 0px;
    font-size: 30px;
}

.titleCallUs2 {
    font-size: 15px;
}
 
.button1 {
    border: none;   
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    margin-top: 20px;
    border-radius: 6px;
 }

input {
    margin: 15px 0px;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: none;
    padding-left: 5px;
}

textarea {
    margin-top: 15px;
    border-radius: 6px;
    border: none;
    padding-left: 5px;
}

.inputan {
    margin-top: 60px;
}

.text1 {
    margin: 20px;
    font-style: italic;
}

.gambar2 {
    background-color: grey;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.containerprofile {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.profile {
    margin-left: 15px;
}

.numbers {
    width: 50px;
    height: 50px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.keunggulanItem {
    display: flex;
    gap: 15px;
    margin: 20px 0px;
}

.titleKeunggulan {
    display: flex;
    align-items: center;
}

.headerKeunggulan{
    padding: 20px;
}

.baris {
    padding: 15px 0px;
    border: none;
}

/* OUR PACKAGE */

.headerBawah {
    background-color: rgb(196, 201, 201);
    height: 130px;
    justify-content: center;
    align-items: center;
}

#titleOur {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 33px;
    font-size: 25px;
}

.fitur {
    display: flex;
    flex-direction: column;
}

#daftarFitur1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#daftarFitur2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#keteranganfitur1 {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 100px 20px;
    margin: 0px 100px;
}

#keteranganfitur2 {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 100px 20px;
    margin: 0px 100px;
}

.penjelasanfitur {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#teks {
    padding-left: 20px;
}

.penutup {
    display: flex;
    flex: center;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.penutup h3 {
    width: 900px;
    text-align: center;
    margin: 50px 0px;
    color: grey;
    font-size: 15px;
}

.penutup button {
    padding: 10px 30px;
    font-size: 15px;
    background-color: black;
    color: white;
    border-radius: 6px;
}

hr {
    margin-top: 100px;
    margin-bottom: 30px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h1 {
    margin: 30px;
}